@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "Ошибка";
    Layout = "../Shared/_Layout.cshtml";
}

@Styles.Render("~/Styles/error")


<div style="width: 100%;">
    <div class="jumbotron container" style="">
        <h1 class="margin">500</h1>
        <p class="margin">Произошла ошибка</p>
        <img src="../../Content/images/problem.jpg" class="margin img" />
        <p class="margin">Хьюстон, у нас проблема. Подробности можно узнать на странице администрирования.</p>
        <p class="margin">Если вы, конечно, админ :)</p>
        <a class="btn btn-success margin" href="@Url.Action("Index", "Home")">На главную</a>
    </div>
</div>
