@using System.Web.Optimization
@model string

@{
    ViewBag.Title = "Страница не найдена";
    Layout = "../Shared/_Layout.cshtml";
}

@Styles.Render("~/Styles/error")


<div style="width: 100%;">
    <div class="jumbotron container" style="">
        <h1 class="margin">404</h1>
        <p class="margin">Страница "@Model" не найдена</p>
        <img src="../../Content/images/problem.jpg" class="margin img" />
        <p class="margin">Хьюстон, у нас проблема. Похоже, мы не можем найти эту страницу.</p>
        <a class="btn btn-success margin" href="@Url.Action("Index", "Home")">На главную</a>
    </div>
</div>