@model SolarSystemWeb.Models.ViewModels.DropDownViewModel

<script type="text/javascript">
    $(document).ready(
    function () {
        $('#m-@Model.Type.Id').multiselect({
            selectAll: 'selectAll',
            //includeSelectAllOption: true,
            //selectAllText: 'Выделить все',
            selectAllValue: "null",
            nSelectedText: "Выделено: ",
            numberDisplayed: 1,
            nonSelectedText: '@Model.Type.Plural',

            onChange: function (element, checked) {
                Solar.setPlanetVisibility(element.context.value, checked);
            }
        });
        $('.multiselect-container li a').css('padding-left', '30px');
    });
</script>

<select class='multiselect' id="m-@Model.Type.Id" multiple="multiple">
    @foreach (var item in Model.Items)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>