@using System.Web.Optimization
@model IEnumerable<SolarSystemWeb.Models.Entities.SpaceObjectDto>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/starry")
@Scripts.Render("~/bundles/mainPage")

@Styles.Render("~/Styles/starry")

@{ Html.RenderAction("TopPanel"); }

<div id="mainArea">
    <canvas id="star_field" width="800" height="600"></canvas>
</div>
