@model IEnumerable<SolarSystemWeb.Models.Entities.SpaceObjectTypeDto>


@foreach (var item in Model)
{
    <div style="border: 1px red solid; margin: 5px;  padding: 7px; max-width: 100px;" >@item.Plural</div>
}