.table-nonfluid {
    width: 70% !important;
    border: grey 1px solid !important;
}

.table td {
    padding: 10px !important;
    text-align: center;
}

.table th {
    padding: 15px !important;
}
